@model User

@{
    ViewBag.Title = "Add user";
}

    <form asp-action="Add" method="post">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))"></select>
            <span asp-validation-for="Gender"></span>

        </div>   
        <div>
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" />
            <span asp-validation-for="BirthDate"></span>
        </div>
        <input type="submit" value="Submit" />
    </form>
