@model Tutorial.Portal.ViewModel.UserViewModel

@{
    ViewBag.Title = "Add user";
}

<form asp-action="Add" method="post">

    <div>
        <label asp-for="LoginName"></label>
        <input asp-for="LoginName" />
        <span asp-validation-for="LoginName"></span>
    </div>

    <div>
        <label asp-for="Pwd"></label>
        <input asp-for="Pwd" />
        <span asp-validation-for="Pwd"></span>
    </div>

    <partial name="_UserFormItems" model="Model" />

    <input type="submit" value="Submit" />
</form>
